PORT=5001
MONGODB_URI=mongodb://AmishPrabhu:Amish1975@ac-nfeqzqs-shard-00-00.vsrx5md.mongodb.net:27017,ac-nfeqzqs-shard-00-01.vsrx5md.mongodb.net:27017,ac-nfeqzqs-shard-00-02.vsrx5md.mongodb.net:27017/test?ssl=true&replicaSet=atlas-zz4iks-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=my_super_secure_secret_key
GOOGLE_CLIENT_ID=158552043080-f7nf9tej36hgo4oidu1dnn9shkq8tan1.apps.googleusercontent.com
EMAIL_USER=amishsprabhu@gmail.com
EMAIL_PASS=zvucsffzqjaptnqg
FRONTEND_URL=https://club-connect-silk.vercel.app/
BREVO_API_KEY=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